body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.playing_field {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

img#player_choice, img#computer_choice {
    height: 72px;
    width: auto;
}

div#player_choice {
    display: flex;
    gap: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}